/* NAV ************************************************/
#menu{
  top: 0;
  left: 0;
  width:100%;
  display:inline-block;
  font-family:fantasy;
}

#menu li{
  float:left;
  padding:1em;
}

li{
  list-style: none;
}

li a{
  text-decoration: none;
  color:#005a68;
  font-size:20px;
}

/* PRESENTATION ****************************************/
body{
  background-color: black;
}

h1{
color:white;
font-family: fantasy;
font-size: 30px;
text-align: center;
}

.allp{
  background-color: #0d111e;
  padding:2em;
  opacity:0.5;
}

p{
  font-family:sans-serif;
  color:white;
  opacity:1;
  border-bottom: 1px solid white;
  text-align: center;
  padding-bottom: 2px;
}

.kuri{
  color:#e26600;
}

/* DEMO ***********************************************/
iframe{
  width:80%;
  height:300px;
}


/* CONTACT ******************************/
.contact{
  border: 2px solid #e26600;
  text-align: center;
  color:white;
}
